.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.app-main {
  flex: 1;
  overflow-y: auto;
}
