/* Style for super visor data view */
.role-container {
    padding: 10px 30px;
    border-radius: 5px;

    .common-container {
        padding: 5px 0px;
        border-radius: 5px;
    }

    .common-left-alignment {
        padding-left: 20px;
        padding-top: 10px;
    }

    .role-items {
        cursor: pointer;
        background-color: rgba(76, 175, 80, 0.1);
        border-radius: 8px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: black;
            font-weight: bold;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // family member section
    .fm-item-container {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;

        .fm-item-table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                padding: 10px;
                border: 1px solid #ddd;
                text-align: center;
                white-space: nowrap;
                min-width: 200px;
            }

            th {
                background-color: #f4f4f4;
                font-weight: bold;
            }

            tbody tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        }
    }

    .common-button {
        display: block;
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .filters-container {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 2px solid #4caf50;
        align-items: center;

        span {
            font-size: 16px;
            font-weight: 600;
            color: black;
        }

        .filters {
            right: 40px;
            width: 300px;

            .close-btn {
                position: absolute;
                float: right;
                right: 10px;
                cursor: pointer;
            }

            label {
                font-size: 15px;
                font-weight: 500;
                color: black;
            }

            .react-datepicker-wrapper {
                width: 100% !important;
            }

            .react-datepicker__current-month {
                border-bottom: none !important;
            }
        }
    }
}

// style for global inputs
.form-group {
    margin-bottom: 20px;
    position: relative;

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        color: #555;
        font-family: "Arial", sans-serif;
    }

    .input-error {
        border: 1px solid red;
    }


    input,
    select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        font-family: "Arial", sans-serif;
    }

    input:focus,
    select:focus {
        outline: none;
        border-color: #4caf50;
        box-shadow: 0px 0px 6px rgba(76, 175, 80, 0.3);
    }

    .error {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
    }

    .password-eye {
        cursor: pointer;
        position: absolute;
        top: 37px;
        right: 10px;
    }
}

// style for loader
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: white;
        animation: bounce 1.2s infinite ease-in-out both;

        &:nth-child(1) {
            animation-delay: -0.32s;
        }

        &:nth-child(2) {
            animation-delay: -0.16s;
        }
    }
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.no-data {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    span {
        font-size: 18px;
        color: #555;
        font-family: "Arial", sans-serif;
        font-weight: 500;
    }
}

.user-actions {
    display: flex;

    .common-actions-btn {
        padding: 5px 15px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }

    .edit {
        background-color: #4caf50;
    }

    .delete {
        background-color: red;
        margin-left: 10px;
    }

    .warn {
        background-color: rgba(128, 128, 128, 0.5) !important;
        color: black !important;
    }
}

.add-user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    p {
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin: 0px;
    }
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;

    .back-btn {
        width: 25px !important;
        height: 25px !important;
        cursor: pointer;
        margin-left: 10px;
    }

    .hide {
        opacity: 0;
        pointer-events: none;
    }
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .dropdown-label {
        margin-bottom: 8px;
        font-size: 16px;
        color: #333;
    }

    .dropdown-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
        outline: none;
        color: black;
    }

    .dropdown-input:focus {
        border-color: #4caf50;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 225px;
        overflow-y: auto;
        z-index: 1000;
        list-style-type: none;
        padding: 0px;
        margin: 5px 0px;
    }

    .dropdown-item {
        padding: 10px 15px;
        cursor: pointer;
        color: black;
        font-size: 13px;
        font-weight: 600;
    }

    .dropdown-item:hover {
        background-color: rgba(76, 175, 80, 0.05);
        color: #4caf50;
    }

    .no-results {
        text-align: center;
        color: #999;
    }
}