.admin-home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.welcome-heading {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #4caf50;
}

.add-user-button {
  display: block;
  margin: 0 auto 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.table-container {
  width: 100%;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.users-table th,
.users-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.users-table th {
  background-color: #f2f2f2;
}


/* Style for super visor data view */
.fc-container {
  padding: 10px 30px;
  border-radius: 5px;
}

.fc-container .fc-item {
  padding: 5px;
  border-radius: 5px;
}

.fc-container .fc-item .fh-item-container {
  padding-left: 20px;
  margin-top: 10px;
}

.fc-container .fc-item .fh-item-container .fh-item {
  padding: 5px;
  border-radius: 5px;
}

.fc-container .fc-item .fh-item-container .fh-item .fm-item-container {
  margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 25px;
}

.fm-item-container {
  width: 100%;
  overflow-x: auto; 
  margin: 20px 0px 0px 0px;
}

.fm-item-table {
  width: 100%;
  border-collapse: collapse;
}

.fm-item-table th, .fm-item-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  min-width: 200px; 
}

.fm-item-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.fm-item-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}