.admin-home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.welcome-heading {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #4caf50;
}

.add-user-button {
  display: block;
  /* margin: 0 auto 20px; */
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.table-container {
  width: 100%;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.users-table th,
.users-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.users-table th {
  background-color: #f2f2f2;
}