body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
}

.admin-login-container {
  max-width: 100%;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.admin-login-form {
  display: flex;
  flex-direction: column;
}

.admin-login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 95%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot-password-link {
  text-align: right;
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.admin-login-button {
  padding: 10px;
  background-color: #28a745; /* Changed to a green color for admin */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.admin-login-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}
